<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Congratulations!</h3>
    <p>
      <%= @comment.user.name %> just posted comment 
      <% if @comment.chapter %>
        in the chapter <em><%= @comment.chapter.title %></em> of
      <% else %>
        in the main page of
      <% end %>
      <em>Ruby For Admins</em>: <br>
      <%= @comment.html %>
    </p>
    <p>
      To see this comment online, follow the link <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>
      <small>
        This is an automated message, please do not reply.
      </small>
    </p>
    <p>
      Regards, <br>
      <em>Ruby for Admins</em>
    </p>
  </body>
</html>
